
hr.rounded {
  border-top: 3px solid #8cd460;

}

.flex-container {
  display: flex;
  /* background-color: DodgerBlue; */
}

.flex-container > div {
  /* background-color: #f1f1f1; */
  margin: 10px;
  padding: 20px;
  font-size: 16px;
  width: 50%;
}


h1 { 
  text-align: center;
  /* padding-top: 0px;
  padding-left: 500px;
  padding-right: 500px; */
  /* background-color: powderblue; */
  font-family: "Arial", Helvetica, sans-serif;

}

.container_main {
  margin: 20px;
  /* background-color:#f0fff1;  */
}

.container_video {
  margin: auto;
  /* width: 50%; */
  padding: 5px;
  text-align: center;
}

.container_video_button {
  float:center; 
  background-color: powderblue;
}

.div_video_button_center {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container_video_info{
  float:left; 
  text-align: left;
  background-color:red; 

}

.left-div {
  /* background-color:#f0fff1;  */
  width: 50%;  
  float:left; 
  /* padding:5px; */
  /* padding-bottom:100px; */
}

.right-div {
  background-color:#f0fff1; 
  width: 50%;  
  float:right; 
  /* padding:5px; */
  /* padding-bottom:200px; */
}

.container_transcribe {
  /* background-color:#F0FFFF;  */
  margin-left: 100px;
  width: 50%;  
  float:left; 
  padding:5px;
  text-align: left;
}

body {
  font: 14px "Open Sans", "Arial", sans-serif;
}

video {
  margin-top: 2px;
  border: 1px solid black;

}


.div_video {
  text-align: center;
}

.div_toolbar {
  text-align: center;
}
/* 
#video_start {
  background-color: powderblue;
  border: none;
  border-radius: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: 0 0 1em 0;
  padding: 0.5em 1.5em 0.6em 0.7em;
}

#video_start:active {
  background-color: #d84a38;
}

#video_start:hover {
  background-color: #d84a38;
}


#video_end {
  background-color: #d84a38;
  border: none;
  border-radius: 50%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: 0 0 1em 0;
  padding: 0.5em 1.5em 0.6em 0.7em;
}

#video_end:active {
  background-color: powderblue;
}

#video_video_endstart:hover {
  background-color: powderblue;
} */


#video_start{
  display: inline-block;
  text-decoration: none;
  background: #8cd460;
  color: rgba(255, 255, 255, 0.47);
  font-weight: bold;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #8cd460;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: .4s;
}

#video_start:hover{
  border-style: dashed;
}

#video_end{
  display: inline-block;
  text-decoration: none;
  background: #ff8181;
  color: rgba(255, 255, 255, 0.47);
  font-weight: bold;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #ff8181;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: .4s;
}
#video_end:hover{
  border-style: dashed;
}


